BACK_CODE/Web References/us.multiprepagos.ws/fdmm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DMM" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="DMM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DMM">
      <s:element name="recharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="point" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechargeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="balance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="balanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rechargeSoapIn">
    <wsdl:part name="parameters" element="tns:recharge" />
  </wsdl:message>
  <wsdl:message name="rechargeSoapOut">
    <wsdl:part name="parameters" element="tns:rechargeResponse" />
  </wsdl:message>
  <wsdl:message name="balanceSoapIn">
    <wsdl:part name="parameters" element="tns:balance" />
  </wsdl:message>
  <wsdl:message name="balanceSoapOut">
    <wsdl:part name="parameters" element="tns:balanceResponse" />
  </wsdl:message>
  <wsdl:portType name="Recargas_ElectronicasSoap">
    <wsdl:operation name="recharge">
      <wsdl:input message="tns:rechargeSoapIn" />
      <wsdl:output message="tns:rechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="balance">
      <wsdl:input message="tns:balanceSoapIn" />
      <wsdl:output message="tns:balanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Recargas_ElectronicasSoap" type="tns:Recargas_ElectronicasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recharge">
      <soap:operation soapAction="DMM/recharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="balance">
      <soap:operation soapAction="DMM/balance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Recargas_ElectronicasSoap12" type="tns:Recargas_ElectronicasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recharge">
      <soap12:operation soapAction="DMM/recharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="balance">
      <soap12:operation soapAction="DMM/balance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Recargas_Electronicas">
    <wsdl:port name="Recargas_ElectronicasSoap" binding="tns:Recargas_ElectronicasSoap">
      <soap:address location="http://ws.multiprepagos.us/integracion/fdmm.asmx" />
    </wsdl:port>
    <wsdl:port name="Recargas_ElectronicasSoap12" binding="tns:Recargas_ElectronicasSoap12">
      <soap12:address location="http://ws.multiprepagos.us/integracion/fdmm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>